* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, Arial;
  box-sizing: border-box;
}

.main-content {
  /* margin: 25px 300px;
  padding: 50px;
  background-color: rgb(232, 232, 232); */
}

.title {
  margin: 25px 300px;
  padding: 50px;
  background-color: rgb(232, 232, 232);
  text-align: center;
}

.recipes-list {
  margin: 0 300px;
  padding: 50px;
  background-color: #e8e8e8;
}

.recipes-list li {
  margin: 15px;
  list-style-type: none;
  color: #000;
}

.recipes-list a {
  text-decoration: none;
  color: #000;
}

.recipes-list a:hover {
  border-bottom: solid 2px #ff9226;
  padding-bottom: 5px;
  transition: 300ms;
}

.recipe-title,
.description,
.ingredients,
.steps,
.references {
  margin: 25px 300px;
  padding: 50px;
  background-color: rgb(232, 232, 232);
}